.hidden {
  display: none;
}

#login-form {
  margin-bottom: 30px;
}

#greeting {
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}

#login-form input {
  border-bottom: var(--main-border-bottom);
  font-size: 30px;
  padding: 20px 0;
  background-color: inherit;
  color: white;
}

#login-form input::placeholder {
  color: white;
}
