#todo-form input {
  font-size: 30px;
  padding: 20px 0;
  background-color: inherit;
  border-bottom: var(--main-border-bottom);
  color: white;
}

#todo-form input::placeholder {
  color: white;
}

#todo-list li {
  color: white;
}

#todo-list li button {
  background-color: inherit;
  border: none;
  font-size: 20px;
}
